$primary-color: #40342f;
$primary-color-hover: #54453E;
$secondary-color: #8c774f;
$secondary-color-hover: #B09563;

$text-color: #414141;
$text-color-darkre: #212121;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.3);