$primary-color: #40342f;
$primary-color-hover: #54453E;
$secondary-color: #8c774f;
$secondary-color-hover: #B09563;

$text-color: #414141;
$text-color-darkre: #212121;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

$media-1440px: 1440px;
$media-1024px: 1024px;
$media-768px: 768px;
$media-425px: 425px;
$media-375px: 375px;