.Card{
  height: 30rem;
  background: white;
  border-radius: 1rem;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
  &__icon{
    width: 15rem;
  }
  &__title{}
  &__description{
    font-size: 1.5rem;
  }
}