@import "../../../../styles/Global";
.SingleBonsai{
  //background: red;
  display: grid;
  text-align: right;
  grid-template-areas:
    'img title title'
    'img description description';
  align-items: start;
  @media (max-width: $media-768px){
    grid-template-areas:
      'img'
      'title'
      'description' !important;
    justify-items: center;
    text-align: center;
  }
  &__left{
    grid-template-areas:
    'title title img'
    'description description img' !important;
    @media (max-width: $media-768px){
      grid-template-areas:
      'img'
      'title'
      'description' !important;
      text-align: center !important;
    }
    text-align: left !important;
  }



  &__img{
    grid-area: img;
    width: 25rem;
    height: 30rem;
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
    //background:gray;
  }
  &__title{
    font-size: 8rem;
    font-weight: 600;
    position: relative;
    height: 12.8rem;
    @media (max-width: $media-768px){
      font-size: 6.4rem;
    }
    @media (max-width: $media-425px){
      font-size: 4.8rem;
      height: 8rem;
    }
    & > *{
      position: absolute;

    }

    grid-area: title;
  }
  &__description{
    grid-area: description;
    display: flex;
    align-items: start;
    justify-items: start;
    height: 25rem;
    @media (max-width: $media-768px){
      height: 13rem;
    }
    @media (max-width: $media-425px){
      height: 25rem;
    }
  }
}