@import '../../../styles/Global';
.whyBonsai{
  width: 100%;
  padding: 7.5rem 0;
  background:
          linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)),
          url("../../../assets/whyBonsaiSection.webp");
  background-size: cover;
  background-position: center;
  &__container{
    display: grid;
    row-gap: 6rem;
  }

  &__title{
    text-align: center;
  }

  &__cardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    @media screen and (max-width: $media-1024px){
      column-gap: 2rem;
    }

    @media screen and (max-width: $media-768px){
      max-width: 40rem;
      row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  }
}